.signinContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
  
}

.signinTitle {
  text-align: center;
  color: #fff;
}

form {
  display: flex;
  flex-direction: column;
  gap: 40px;
  border: 2px solid #bfdbf7;
  padding: 30px 20px;
  align-items: center;
}

.signinTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 35.5px;
}

.signinTitle h1 {
  font-size: 30px;
  font-family: "Poppins", sans-serif;
  line-height: 39px;
}

.signinTitle p {
  color: #a0aec0;
  font-size: 14px;
}

.signinInput {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}

.signinInput label {
  color: #a0aec0;
  font-size: 14px;
}

.signinInput input {
  width: 350px;
  padding: 15px 20px;
  border-radius: 20px;
  background-color: transparent;
  color: #fff;
  outline: none;
  border: 2px solid #75768b;
}

.signinInput input::-moz-placeholder {
  color: #fff;
}

.signinInput input::placeholder {
  color: #fff;
  font-family: "Poppins", sans-serif;
}

.signinBtn {
    width: 350px;
    height: 45px;
    color: #fff;
    background-color: #0075ff;
    border: none;
    outline: none;
    border-radius: 12px;
    cursor: pointer;
}

.signinBtn:hover {
    background-color: #033e81;
}

.havenotAccount {
    display: flex;
    flex-direction: row;
    color: #75768b;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

.havenotAccount a {
   color: #fff;
   font-weight: 700;
   text-decoration: none;
}